<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>Provides server-side graphics and other facilities.</description>
    <display-name>Autoplot Servlet</display-name>
    <listener>
        <description>Shuts down RequestProcessor threads</description>
        <listener-class>org.virbo.autoplot.ShutdownListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>org.virbo.autoplot.SimpleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScriptServlet</servlet-name>
        <servlet-class>org.virbo.autoplot.ScriptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetLogLevel</servlet-name>
        <servlet-class>org.virbo.autoplot.SetLogLevel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScriptServlet2</servlet-name>
        <servlet-class>org.virbo.autoplot.ScriptServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/SimpleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScriptServlet</servlet-name>
        <url-pattern>/ScriptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetLogLevel</servlet-name>
        <url-pattern>/SetLogLevel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScriptServlet2</servlet-name>
        <url-pattern>/ScriptServlet2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
