<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <description>Provides server-side graphics and other facilities.</description>
    <display-name>Autoplot Servlet</display-name>
    <listener>
        <description>Shuts down RequestProcessor threads</description>
        <listener-class>org.autoplot.servlet.ShutdownListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>org.autoplot.servlet.SimpleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScriptServlet</servlet-name>
        <servlet-class>org.autoplot.servlet.ScriptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetLogLevel</servlet-name>
        <servlet-class>org.autoplot.servlet.SetLogLevel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecureScriptServlet</servlet-name>
        <servlet-class>org.autoplot.servlet.SecureScriptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CdawebVapServlet</servlet-name>
        <servlet-class>org.autoplot.servlet.CdawebVapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JnlpServlet</servlet-name>
        <servlet-class>org.autoplot.servlet.JnlpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompletionsServlet</servlet-name>
        <servlet-class>org.autoplot.servlet.CompletionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInfo</servlet-name>
        <servlet-class>org.autoplot.servlet.ServletInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URITemplatesServlet</servlet-name>
        <servlet-class>org.autoplot.servlet.URITemplatesServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Data Servlet sends data for URI in requested form</description>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>org.autoplot.servlet.DataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScriptGUIServlet</servlet-name>
        <servlet-class>org.autoplot.servlet.ScriptGUIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScriptGUIServletPick</servlet-name>
        <servlet-class>org.autoplot.servlet.ScriptGUIServletPick</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/SimpleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScriptServlet</servlet-name>
        <url-pattern>/ScriptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetLogLevel</servlet-name>
        <url-pattern>/SetLogLevel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecureScriptServlet</servlet-name>
        <url-pattern>/SecureScriptServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CdawebVapServlet</servlet-name>
        <url-pattern>/CdawebVapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JnlpServlet</servlet-name>
        <url-pattern>/autoplot.jnlp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompletionsServlet</servlet-name>
        <url-pattern>/CompletionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInfo</servlet-name>
        <url-pattern>/ServletInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URITemplatesServlet</servlet-name>
        <url-pattern>/URITemplatesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/DataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScriptGUIServlet</servlet-name>
        <url-pattern>/ScriptGUIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScriptGUIServletPick</servlet-name>
        <url-pattern>/ScriptGUIServletPick</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
